@model WebsiteBanDienThoai.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin1.cshtml";
}

<style type="text/css">
    .container img {
        width: 200px;
        margin-bottom: 20px;
    }

    h3, h4 {
        color: red;
        font-weight: bold;
    }

   
    .container a {
        text-decoration: none;
        color: dodgerblue;
    }

</style>

<h2 style="text-align:center;">XÁC NHẬN THÔNG TIN CẦN XÓA</h2>


<h4>@Html.Raw(ViewBag.ThongBao)</h4>
<div class="container">
    <h3>Bạn quyết định xóa sản phẩm này ?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.Raw(@Model.MoTa.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="~/Images/@Model.AnhBia" alt="@Model.TenSP">
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="~/Images/@Model.AnhBia1" alt="@Model.TenSP">
        </dd>
        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="~/Images/@Model.AnhBia2" alt="@Model.TenSP">
        </dd>
        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="~/Images/@Model.AnhBia3" alt="@Model.TenSP">
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @Html.FormatValue(@Model.NgayCapNhat, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            Số lượng bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>

        <dt>
            Kích thước:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichThuoc)
        </dd>

        <dt>
            Giới tính:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @Html.FormatValue(@Model.GiaBan, "{0:#,##0}") VNĐ
        </dd>


        <dt>
            Chủ đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEUDE.TenChuDe)
        </dd>

        <dt>
            Nhà cung cấp:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCC.TenNCC)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("VỀ TRANG QUẢN LÝ SẢN PHẨM", "Index")
        </div>
    }
</div>
